.button {
  display: block;
  width: 100%;
  background-color: transparent;
  color: var(--primary-text-color);
  border: 1px solid var(--gray-500);
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: var(--sm-font);
  transition: 0.3s ease;

  &.dark {
    background-color: var(--secondary-color);
    color: var(--bg-color);
  }

  &.primary {
    background-color: var(--primary-color);
    color: #fafafa;
  }

  &:hover {
    transform: scale(1.03);
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    cursor: progress;
  }
}
