.search-box {
  position: relative;

  input {
    outline: none;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 10px 15px;
    padding-right: calc(var(--base-font) + 20px);
    width: 100%;
    font-size: var(--base-font);
    background-color: rgb(239, 243, 244);
    transition: 0.3s ease;

    @media (prefers-color-scheme: dark) {
      background-color: invert($color: #eff3f4);
    }

    &:focus {
      border-color: var(--primary-color);
      background-color: var(--bg-color);

      + svg {
        color: var(--primary-color);
      }
    }
  }

  svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--base-font);
  }
}
