.mobileNavigation {
  //   background-color: red;
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  //   justify-content: space-around;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 10;

  @media (prefers-color-scheme: light) {
    background-color: #fff;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  }

  &__link {
    svg {
      display: inline-block;
      font-size: var(--lg-font);
      color: var(--gray-800);
    }

    svg:first-child {
      display: inline-block;
    }

    svg:last-child {
      display: none;
    }

    &.active {
      svg:first-child {
        display: none !important;
      }

      svg:last-child {
        display: inline-block !important;
        color: var(--primary-text-color);
      }
    }
  }
}
