.mobileSideMenu {
  position: absolute;
  background-color: var(--bg-color);
  height: 100vh;
  width: 70vw;
  left: -100%;
  z-index: 12;
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: 0.3s ease;

  @media (prefers-color-scheme: light) {
    background-color: #fff;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
  }

  &.active {
    left: 0;
  }

  &__logo {
    padding-left: 15px;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 7px;

    // > * {
    //   flex: 1;
    // }

    &--name {
      display: flex;
      flex-direction: column;
    }

    span {
      font-size: var(--sm-font);
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &--links {
    }

    &--button {
      background-color: var(--primary-color);
      border: none;
      width: 100%;
      border-radius: 100px;
      padding: 10px;
      color: #fff;
      font-size: var(--base-font);
      cursor: pointer;
      transition: 0.2s ease;

      &:active {
        background-color: darken($color: #029bf0, $amount: 10);
      }
    }
  }
}

.mobileSideMenu-overlay {
  position: absolute;
  inset: 0;
  z-index: 11;
  background-color: rgba($color: #000000, $alpha: 0.2);
}
