.trend {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 5px 15px;

  &:hover {
    // background-color: var(--gray-300);
    background-color: rgba(0, 0, 0, 0.03);

    @media (prefers-color-scheme: dark) {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }

  &__info {
    flex: 1;

    h3 {
      font-size: var(--base-font);

      @media screen and (max-width: 1024px) {
        font-size: var(--sm-font);
      }
    }

    span {
      color: var(--gray-900);
      font-size: var(--sm-font);

      @media screen and (max-width: 1024px) {
        font-size: var(--xs-font);
      }
    }
  }

  // &__ellipsis {
  //   background-color: transparent;
  //   border: none;
  //   outline: none;
  //   cursor: pointer;
  // }
}
