.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #029bf0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spin 1s infinite linear;

  @media screen and (max-width: 768px) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #029bf0);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 6.4px),
      #000 0
    );
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
