.input {
  position: relative;

  input {
    font-size: 1rem;
    padding: 24px 0 15px 15px;
    padding-right: calc(var(--base-font) + 20px); // makes space for icon if any
    border-radius: 5px;
    border: 1px solid var(--gray-500);
    outline: none;
    background-color: transparent;
    width: 100%;

    @media screen and (max-width: 768px) {
      transform: scaleY(0.8);
    }

    &:focus {
      border-color: var(--primary-color);

      ::placeholder {
        color: var(--primary-color);
      }
    }
  }

  svg {
    font-size: var(--base-font);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
