.tweet {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
  gap: 10px;
  // border: 1px solid blue;

  &:hover {
    background-color: var(--accent);
  }

  > * {
    min-width: 0;
  }

  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  &__info {
    // display: flex;
    // flex-direction: column;
    // gap: 5px;

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5px;

      > a {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: var(--sm-font);

        @media screen and (max-width: 480px) {
          font-size: var(--xs-font);
        }

        p {
          font-weight: bold;
        }

        span:nth-child(2) {
        }

        span:last-child {
        }
      }

      &_options {
        position: relative;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;

          svg {
            font-size: var(--base-font);
            @media screen and (max-width: 480px) {
              font-size: var(--sm-font);
            }
          }
        }
      }
    }

    &--text {
      display: inline-block;
      font-size: var(--sm-font);
      padding-bottom: 10px;

      @media screen and (max-width: 480px) {
        font-size: var(--xs-font);
      }
    }
  }
}
