.createTweet {
  &__body {
    padding-bottom: 30px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > button {
      border: none;
      background-color: var(--primary-color);
      color: #fff;
      border-radius: 100px;
      padding: 7px 15px;
      font-size: var(--sm-font);
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      // &:hover {
      //   background-color: darken($color: #029bf0, $amount: 10);
      // }
    }
  }
}
