.what-is-happening {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-bottom: 15px;
  border-bottom: var(--border);

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--button {
      border: none;
      background-color: var(--primary-color);
      color: #fff;
      padding: 7px 20px;
      border-radius: 100px;
      font-size: var(--sm-font);
      cursor: pointer;
      transition: 0.2s ease;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: darken($color: #029bf0, $amount: 10);
        }
      }
    }
  }
}
