.navbar {
  > *:first-child {
    display: flex !important;

    @media screen and (max-width: 480px) {
      display: none !important;
    }
  }

  > *:last-child {
    display: none !important;

    @media screen and (max-width: 480px) {
      display: flex !important;
    }
  }
}
