.form-division {
  display: flex;
  align-items: center;
  gap: 5px;

  > div {
    height: 1px;
    background-color: var(--gray-500);
    flex: 1;
  }

  span {
    color: var(--gray-9);
    font-size: var(--base-font);
    //   line-height: 0;
  }
}
