.tweetDetailsActions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;

  button {
    //   position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--secondary-text-color);

    svg {
      font-size: var(--md-font);
      padding: 7px;
      box-sizing: content-box;
      //   background-color: red;
      border-radius: 50%;
      transition: 0.3s ease;

      @media screen and (max-width: 375px) {
        font-size: var(--base-font);
        padding: 5px;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &__comment {
      &:hover {
        svg {
          background-color: rgba(29, 155, 240, 0.1);
          color: rgb(29, 155, 240);
        }

        span {
          color: rgb(29, 155, 240);
        }
      }
    }

    &__retweet {
      &:hover {
        svg {
          background-color: rgba(0, 186, 124, 0.1);
          color: rgb(0, 186, 124);
        }

        span {
          color: rgb(0, 186, 124);
        }
      }
    }

    &__like {
      &:hover {
        svg {
          background-color: rgba(249, 24, 128, 0.1);
          color: rgb(249, 24, 128);
        }

        span {
          color: rgb(249, 24, 128);
        }
      }
    }

    &__activity {
      &:hover {
        svg {
          background-color: rgba(29, 155, 240, 0.1);
          color: rgb(29, 155, 240);
        }

        span {
          color: rgb(29, 155, 240);
        }
      }
    }

    // &__bookmark {
    // }

    // &__share {
    // }
  }

  &__like.liked {
    svg {
      color: rgb(249, 24, 128);
    }
  }
}
