.card-layout {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 600px;
  min-width: 300px;
  min-height: 70vh;
  padding: 70px 20px;
  padding-bottom: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  // gap: 50px;
  align-items: center;

  background-color: var(--gray-100);
  @media (prefers-color-scheme: light) {
    background-color: #fff;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
  }

  > div {
    width: 70%;
    height: 100%;

    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }

  > svg {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: var(--md-font);
    cursor: pointer;
  }

  // .logo {
  //   position: absolute;
  //   top: 15px;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  &__header {
    position: absolute;
    top: 15px;
    left: 50%;
    // transform: translateX(-50%);
  }
}
