// .card-layout {
//   z-index: 2;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: min(90%, 600px);
//   min-height: 70vh;
//   padding: 70px 20px;
//   padding-bottom: 20px;
//   border-radius: 10px;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   background-color: var(--gray-100);
//   @media (prefers-color-scheme: light) {
//     background-color: #fff;
//     box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
//   }

//   &__icon {
//     position: absolute;
//     top: 20px;
//     left: 20px;
//     font-size: var(--md-font);
//     cursor: pointer;
//   }

//   &__header {
//     position: absolute;
//     top: 15px;
//     left: 50%;
//   }

//   &__body {
//     width: 70%;
//     height: 100%;

//     @media screen and (max-width: 768px) {
//       width: 90%;
//     }
//   }
// }

.card-layout {
  position: relative;
  width: min(90%, 600px);
  min-height: 70vh;
  padding: 20px 20px;
  // padding-bottom: 20px;
  border-radius: 10px;
  background-color: var(--gray-100);

  @media (prefers-color-scheme: light) {
    background-color: #fff;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
  }

  @media screen and (max-width: 480px) {
    min-height: 60vh;
  }

  > * {
    width: min(450px, 100%);
    margin: 0 auto;
  }
}
