.tweet-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  //   border: 1px solid red;
  //   overflow: hidden;

  @media screen and (max-width: 768px) {
    gap: 20px;
  }

  @media screen and (max-width: 540px) {
    gap: 15px;
  }

  @media screen and (max-width: 480px) {
    gap: 20px;
  }

  @media screen and (max-width: 375px) {
    gap: 15px;
  }

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--secondary-text-color);

    @media screen and (max-width: 768px) {
      gap: 5px;
    }

    svg {
      font-size: var(--base-font);
      padding: 5px;
      box-sizing: content-box;
      //   background-color: red;
      border-radius: 50%;
      transition: 0.3s ease;

      @media screen and (max-width: 768px) {
        font-size: var(--sm-font);
        padding: 3px;
      }
    }

    span {
      font-size: var(--sm-font);
      transition: 0.3s ease;

      @media screen and (max-width: 480px) {
        font-size: var(--xs-font);
      }
    }
  }

  button:first-child {
    &:hover {
      svg {
        background-color: rgba(80, 194, 255, 0.4);
        color: #029bf0;
      }

      span {
        color: #029bf0;
      }
    }
  }

  button:nth-child(2) {
    &:hover {
      svg {
        background-color: rgba(90, 255, 90, 0.4);
        color: #00c900;
      }

      span {
        color: #00ae00;
      }
    }
  }

  button:nth-child(3) {
    &:hover {
      svg {
        background-color: rgba(255, 100, 53, 0.4);
        color: #ff3c00;
      }

      span {
        color: #ff3c00;
      }
    }
  }

  button:nth-child(4) {
    &:hover {
      svg {
        background-color: rgba(80, 194, 255, 0.4);
        color: #029bf0;
      }

      span {
        color: #029bf0;
      }
    }
  }

  button:nth-child(5) {
  }
}
